<!DOCTYPE html>
<html lang="pt.br">
<head>
    <!--bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--Os módulos importam uns aos outros usando um carregador de módulo. Em tempo de execução, o carregador de módulo é responsável por localizar e executar todas as dependências de um módulo antes de executá-lo. Os carregadores de módulo bem conhecidos usados ​​em JavaScript são o carregador do Node.js para módulos 
    CommonJS e o carregador RequireJS para módulos AMD em aplicativos da Web-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=<device-width>, initial-scale=1.0">

<title> Web listagem de alunos Uninter app V.1.0 </title>
<!--usando apenas um conjunto de atributos de dados em um único elemento-->
<!--Formatação da pagina comentários de código-->
<style type="text/css">
        body { position:relative; background-color: rgb(255, 255, 255);}
    
    .controle {font:bold; background-color: rgb(248,248,255);border: 1px solid rgb(247, 248, 245);}
    body ,head{
        position:relative;
        width: 960px;
        margin:auto;
    }

</style>

</head>
<!--Posicionamento de imagens usando HTML padrão dentro do botstrap  e tag align left e right-->
<body>
          <img src="/assets/logouninter.png" alt="Image logouninter" height="95" width="250"align="left">
          <img src="/assets/single-app.png" alt="Image single-app" height="95" width="250"align="right">
    <br>
    <br>
<h1> Ferramenta de desenvolvimento Web </h1>
    <br>
    <br>
<!--O processo de importação e exportação inicia em app.componente.ts -->
<p class="controle"> Lista de alunos Web Uninter </p>
<div class="content"></div>
    <table class="rtable"> 
<thead>
    <tr>
        <th>ALUNO</th>
        <th>REGISTRO (RU)</th>
        <th>DATA DE NASCIMENTO</th>
        <th>TELEFONE</th> 
        <th>CURSO</th>
        <th>ESTADO</th>
        <th>UNIDADE</th>
        <th>MÉDIA</th>
        <th>SITUAÇÃO FINAL</th>
    </tr>
</thead>
        <!-- O exemplo usado na documentação do Angular é muito engraçado
        "let hero of hero" quando hero pode ser qualquer string para concatenar 
        com data se anterar a varial em ambos os lacais não precisaria ter o $-->
    <tbody>
        <tr *ngFor="let informacao of data">
        <td>{{informacao.Nome}}</td>    
        <td>{{informacao.ru}}</td>   
        <td>{{informacao.DataNasc}}</td>
        <td>{{informacao.Telefone}}</td>
        <td>{{informacao.Curso}}</td>
        <td>{{informacao.Estado}}</td>
        <td>{{informacao.Unidade}}</td>    
        <td>{{informacao.MediaFinal}}</td>
        <td>{{informacao.SFinal}}</td>
        </tr>
    </tbody>
</table>

<div></div>

</body>

</html>